<div class="relative mb-2 w-72">
  <div class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3">
    <svg
      class="h-4 w-4 text-gray-500 dark:text-gray-400"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 20 20"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
      />
    </svg>
  </div>
  <input
    type="search"
    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-1.5 ps-10 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
    placeholder="Search..."
    [(ngModel)]="searchValue"
    (input)="onSearchInputChange($event)"
    autocomplete="off"
  />
</div>
<ul class="hidden text-sm text-gray-700 2xl:block">
  <li
    *ngFor="let keyword of recommendKeywords; index as i"
    class="flex cursor-pointer items-center gap-x-2 rounded-lg p-2 hover:bg-accent"
    (click)="handleSetSearchValue(keyword)"
  >
    <ng-icon name="heroMagnifyingGlass" size="18" />
    <div>{{ keyword }}</div>
  </li>
  <ng-template #noResults>
    <li>
      <div class="flex flex-col items-center justify-center">
        <ng-icon name="heroXCircle" size="70" class="text-primary"></ng-icon>
        <h3 className="text-3xl font-bold">Whoops!</h3>
        <p class="text-center">It seems like you do not have any favorite movies here.</p>
      </div>
    </li>
  </ng-template>
</ul>
