<section>
  <ng-template #headerTable>
    <span class="text-lg font-semibold text-gray-900 rtl:text-right dark:bg-gray-800 dark:text-white">Users</span>
    <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">View and manage users</p>
  </ng-template>

  <ng-template #lastColumn let-user>
    <app-button variant="link" [href]="'/profile/' + user.id" routerLinkActive="router-link-active">Detail</app-button>
  </ng-template>

  <app-table
    [headerTable]="headerTable"
    [columns]="columns"
    [tableData]="userData"
    [sortData]="sortData"
    [loading]="loading || userData === undefined"
    [lastColumn]="lastColumn"
    (onChooseSort)="handleChangeSort($event)"
    (onSearch)="handleSearchChange($event)"
    (onChoosePage)="handleChangePage($event)"
  />

  <ng-template #userInfoTemplate let-user>
    <th scope="row" class="px-6 py-4">
      <div class="flex items-center gap-x-3">
        <img class="h-10 w-10 rounded-full border border-gray-200" [src]="user.avatar" alt="avatar" />
        <div class="flex flex-col">
          <span class="font-semibold text-gray-900 dark:text-white">{{ user.name ? user.name : 'Unknown' }}</span>
          <span class="text-gray-400">{{ user.email }}</span>
        </div>
      </div>
    </th>
  </ng-template>
  <ng-template #userInfoTemplateLoading>
    <div class="flex items-center gap-x-2">
      <tr class="animate-pulse border-b bg-white dark:border-gray-700 dark:bg-gray-800">
        <th scope="row" class="px-6 py-4">
          <div class="flex items-center gap-x-3">
            <div class="h-10 w-10 rounded-full border border-gray-200 bg-gray-200 dark:bg-gray-700"></div>
            <div class="flex flex-col justify-center">
              <div class="mb-4 h-2.5 w-32 rounded-full bg-gray-200 dark:bg-gray-700"></div>
              <div class="mb-4 h-2.5 w-48 rounded-full bg-gray-200 dark:bg-gray-700"></div>
            </div>
          </div>
        </th>
      </tr>
    </div>
  </ng-template>
</section>
