<div
  *ngIf="!loading; else loadingState"
  class="flex size-10 items-center justify-center rounded-full border font-medium text-white"
  [ngClass]="{
    'bg-rose-400': this.backgroundColor === 'default',
    'bg-blue-400': this.backgroundColor === 'blue',
    'bg-green-400': this.backgroundColor === 'green',
    'bg-indigo-400': this.backgroundColor === 'indigo',
    'bg-purple-400': this.backgroundColor === 'purple',
    'bg-orange-400': this.backgroundColor === 'orange',
    'bg-yellow-400': this.backgroundColor === 'yellow',
    'bg-red-400': this.backgroundColor === 'red',
  }"
>
  {{ name | firstLetter }}
</div>

<ng-template #loadingState>
  <div class="size-10 animate-pulse rounded-full bg-gray-200"></div>
</ng-template>
