<div class="group flex cursor-pointer items-center justify-between">
  <div class="flex items-center gap-x-2">
    <div class="flex size-10 items-center justify-center rounded-lg bg-black p-1.5 text-white">
      <ng-icon name="heroPlusCircle" size="24"></ng-icon>
    </div>
    <div class="flex flex-col">
      <span class="font-medium group-hover:underline">Order: efvsFe</span>
      <span class="text-xs text-gray-500">2 tickets</span>
    </div>
  </div>
  <div class="text-sm text-green-400">
    {{ '340000' | currency: 'VND' }}
  </div>
</div>
