<article class="mb-10 flex items-center gap-x-3 xl:gap-x-10">
  <div class="relative w-fit p-3">
    <input
      type="file"
      class="hidden"
      accept="image/*"
      (change)="handleFileInput($event)"
      #avatarInput
      [disabled]="!canUpdate"
    />
    <img
      class="size-32 cursor-pointer rounded-full border object-cover"
      [src]="
        userInfo
          ? profileForm.value.avatar
          : 'https://i.pinimg.com/enabled/564x/cf/71/a0/cf71a0ad133978344b640dbdd6f12b12.jpg'
      "
      alt="profile_img"
      (click)="avatarInput.click()"
    />
    <div
      class="border-1 absolute bottom-5 right-2 flex cursor-pointer items-center justify-center rounded-full border-white bg-primary p-1.5 text-white"
      (click)="avatarInput.click()"
    >
      <ng-icon name="heroCamera" size="16" />
    </div>
  </div>
  <div class="hidden flex-1 items-center lg:flex">
    <app-button
      [disabled]="!canUpdate || loadingUpdateAvatar"
      [loading]="loadingUpdateAvatar"
      (click)="handleSubmitChangeAvatar()"
    >
      Upload new
    </app-button>
    <app-button variant="outline" [disabled]="!canUpdate">Delete avatar</app-button>
  </div>
</article>
<article>
  <form [formGroup]="profileForm" (ngSubmit)="handleSubmit()">
    <div class="mb-5 flex flex-col gap-5 sm:flex-row">
      <div class="flex-1">
        <label for="username" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Username</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary disabled:cursor-not-allowed disabled:bg-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
          placeholder="username"
          required
        />
      </div>
      <div class="flex-1">
        <label for="name" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary disabled:cursor-not-allowed disabled:bg-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
          placeholder="name"
        />
      </div>
    </div>

    <div class="mb-5">
      <label for="email" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary disabled:cursor-not-allowed disabled:bg-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
        placeholder="abc@gmail.com"
        required
      />
    </div>
    <div class="mb-5">
      <label for="bio" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Bio</label>
      <textarea
        id="bio"
        rows="5"
        formControlName="bio"
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary disabled:cursor-not-allowed disabled:bg-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
        placeholder="Your bio"
      >
      </textarea>
    </div>

    <div *ngIf="canUpdate">
      <app-button type="submit" [disabled]="loading" [loading]="loading">Save changes</app-button>
    </div>
  </form>
</article>
