<section>
  <article>
    <form
      *ngIf="movieForm"
      class="flex flex-col xl:flex-row xl:gap-x-10"
      [formGroup]="movieForm"
      (ngSubmit)="handleSubmit()"
    >
      <div class="w-full xl:w-2/5">
        <div class="mb-3">
          <label for="title" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Movie title</label>
          <input
            type="text"
            id="title"
            formControlName="title"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
            placeholder="Title"
            required
          />
          <app-error-display [control]="movieForm.controls['title']" [isFormSubmitted]="isFormSubmitted" />
        </div>
        <div class="mb-3">
          <label for="genre" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"> Genres </label>
          <app-multi-select [data]="genresData" formControlName="genres"></app-multi-select>
          <app-error-display [control]="movieForm.controls['genres']" [isFormSubmitted]="isFormSubmitted" />
        </div>
        <div class="mb-3 flex gap-x-5">
          <div class="w-1/2">
            <label for="budget" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Budget</label>
            <input
              type="number"
              id="budget"
              formControlName="budget"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
              placeholder="Budget"
              required
            />
            <app-error-display [control]="movieForm.controls['budget']" [isFormSubmitted]="isFormSubmitted" />
          </div>
          <div class="w-1/2">
            <label for="runtime" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
              Runtime (min)
            </label>
            <input
              type="number"
              id="runtime"
              formControlName="runtime"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
              placeholder="Runtime"
              required
            />
            <app-error-display [control]="movieForm.controls['runtime']" [isFormSubmitted]="isFormSubmitted" />
          </div>
        </div>
        <div class="mb-3 flex gap-x-5">
          <div class="w-1/3">
            <label for="voteAverage" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
              Vote average
            </label>
            <input
              type="number"
              id="voteAverage"
              formControlName="voteAverage"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
              placeholder="Vote average"
              required
            />
            <app-error-display [control]="movieForm.controls['voteAverage']" [isFormSubmitted]="isFormSubmitted" />
          </div>
          <div class="w-1/3">
            <label for="voteCount" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
              >Vote count</label
            >
            <input
              type="number"
              id="voteCount"
              formControlName="voteCount"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
              placeholder="Vote count"
              required
            />
            <app-error-display [control]="movieForm.controls['voteCount']" [isFormSubmitted]="isFormSubmitted" />
          </div>
          <div class="w-1/3">
            <label for="releaseDate" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
              >Release date</label
            >
            <input
              id="releaseDate"
              formControlName="releaseDate"
              type="date"
              class="w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary dark:focus:ring-primary"
              placeholder="MM/dd/yyy"
              required
            />
            <app-error-display [control]="movieForm.controls['releaseDate']" [isFormSubmitted]="isFormSubmitted" />
          </div>
        </div>
        <div class="mb-3">
          <label for="originalLanguage" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Original language</label
          >
          <select
            id="originalLanguage"
            formControlName="originalLanguage"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary dark:focus:ring-primary"
          >
            <option value="vn" selected>Vietnamese</option>
            <option value="en">English</option>
            <option value="jp">Japanese</option>
            <option value="fr">French</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="overview" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Overview</label>
          <textarea
            id="overview"
            rows="6"
            formControlName="overview"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary dark:focus:ring-primary"
            placeholder="Overview..."
          ></textarea>
        </div>
        <div class="mb-3">
          <label class="inline-flex cursor-pointer items-center">
            <input id="adult" type="checkbox" formControlName="adult" value="" class="peer sr-only" />
            <div
              class="peer relative h-6 w-11 rounded-full bg-gray-200 after:absolute after:start-[2px] after:top-[2px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:bg-orange-600 peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-orange-300 rtl:peer-checked:after:-translate-x-full dark:border-gray-600 dark:bg-gray-700 dark:peer-focus:ring-orange-800"
            ></div>
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Adult movie</span>
          </label>
        </div>
      </div>
      <div class="flex-1">
        <div class="mb-3">
          <label for="images" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
            Movie images
          </label>
          <app-edit-images
            [errorMsg]="imagesErrorMessage"
            id="images"
            [urls]="urlImages"
            (onChange)="handleEditImages($event)"
          ></app-edit-images>
        </div>
        <div class="mb-3">
          <label for="video" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Movie trailer</label>
          <app-edit-trailer
            id="trailer"
            [urlTrailer]="movieData.video"
            [errorMsg]="trailerErrorMessage"
            (onChange)="handleEditTrailer($event)"
          ></app-edit-trailer>
        </div>
        <div class="mb-3 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-4">
          <div>
            <label for="totalDateShowingsInMonth" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
              >Total date showings</label
            >
            <input
              type="number"
              id="totalDateShowingsInMonth"
              formControlName="totalDateShowingsInMonth"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
              placeholder="Total date showings in month"
              required
            />
            <app-error-display
              [control]="movieForm.controls['totalDateShowingsInMonth']"
              [isFormSubmitted]="isFormSubmitted"
            />
          </div>
          <div>
            <label for="priceEachSeat" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
              >Price for each seat</label
            >
            <input
              type="number"
              id="priceEachSeat"
              formControlName="priceEachSeat"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
              placeholder="Price for each seat"
              required
            />
            <app-error-display [control]="movieForm.controls['priceEachSeat']" [isFormSubmitted]="isFormSubmitted" />
          </div>
          <div>
            <label for="monthToSchedule" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
              Month to schedule
            </label>
            <select
              id="monthToSchedule"
              formControlName="monthToSchedule"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary dark:focus:ring-primary"
            >
              <option value="1" selected>01</option>
              <option value="2">02</option>
              <option value="3">03</option>
              <option value="4">04</option>
              <option value="5">05</option>
              <option value="6">06</option>
              <option value="7">07</option>
              <option value="8">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
          <div>
            <label for="yearToSchedule" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
              Year to schedule
            </label>
            <select
              id="yearToSchedule"
              formControlName="yearToSchedule"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary dark:focus:ring-primary"
            >
              <option value="2024">2024</option>
              <option value="2025">2025</option>
              <option value="2026">2026</option>
              <option value="2027">2027</option>
              <option value="2028">2028</option>
              <option value="2029">2029</option>
              <option value="2030">2030</option>
              <option value="2031">2031</option>
            </select>
          </div>
        </div>
        <div class="mb-3">
          <label for="" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
            Detail showing types
          </label>
          <div class="mb-3 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-4">
            <div>
              <label for="_2d" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">2D</label>
              <input
                type="number"
                id="_2d"
                formControlName="_2d"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder="2D"
                required
              />
              <app-error-display [control]="movieForm.controls['_2d']" [isFormSubmitted]="isFormSubmitted" />
            </div>
            <div>
              <label for="_2dSubtitles" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >2D Subtitles</label
              >
              <input
                type="number"
                id="_2dSubtitles"
                formControlName="_2dSubtitles"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder="2D Subtitles"
                required
              />
              <app-error-display [control]="movieForm.controls['_2dSubtitles']" [isFormSubmitted]="isFormSubmitted" />
            </div>
            <div>
              <label for="_3d" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">3D</label>
              <input
                type="number"
                id="_3d"
                formControlName="_3d"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder="3D"
                required
              />
              <app-error-display [control]="movieForm.controls['_3d']" [isFormSubmitted]="isFormSubmitted" />
            </div>
            <div>
              <label for="_3dSubtitles" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
                3D Subtitles
              </label>
              <input
                type="number"
                id="_3dSubtitles"
                formControlName="_3dSubtitles"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder="3D Subtitles"
                required
              />
              <app-error-display [control]="movieForm.controls['_3dSubtitles']" [isFormSubmitted]="isFormSubmitted" />
            </div>
          </div>
        </div>

        <div>
          <div *ngIf="globalError !== ''" class="text-ms mb-2 italic text-red-500">{{ globalError }}</div>
          <div class="flex items-center gap-x-2">
            <app-button [loading]="isFormLoading" [disabled]="isFormLoading" type="submit">Edit</app-button>
            <app-button variant="outline" type="button" (click)="openDeleteDialog(movieData.id)">Delete</app-button>
            <app-button variant="outline" type="button" (click)="back()">Back</app-button>
          </div>
        </div>
      </div>
    </form>
  </article>
</section>
