<div
    *ngIf="urlImage === undefined || urlImage === ''"
    [ngClass]="class"
    class="flex h-full w-full cursor-pointer flex-col items-center justify-center border border-dashed border-gray-500 bg-white"
    (click)="handleChooseImage()"
>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-7 text-gray-500"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
        />
    </svg>
    <p class="text-sm text-gray-700">Click to browser</p>
</div>
<div *ngIf="urlImage !== undefined && urlImage !== ''" class="group relative h-full w-full" [ngClass]="class">
    <img [src]="urlImage" class="h-full w-full" alt="movie image upload" />
    <div
        class="absolute right-0 top-0 hidden cursor-pointer rounded-full bg-white bg-opacity-70 p-1.5 group-hover:block"
        (click)="handleDeleteImage()"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke="currentColor"
            class="size-4 text-red-500"
        >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
    </div>
</div>
