<header class="sticky top-0 z-50 bg-white">
  <div class="flex h-14 w-full items-center justify-between gap-x-5 px-5">
    <div class="flex items-center gap-x-3">
      <div
        class="hidden size-10 cursor-pointer items-center justify-center rounded-lg p-1.5 hover:bg-accent max-[850px]:flex"
        (click)="toggleSidebar()"
      >
        <ng-icon name="heroBars3BottomLeft" size="24"></ng-icon>
      </div>
      <div class="max-[600px]:hidden">
        <label for="default-search" class="sr-only mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Search</label
        >
        <app-search></app-search>
      </div>
    </div>
    <div class="flex items-center gap-x-2 text-gray-500">
      <div class="hidden max-[600px]:block">
        <app-search-hidden-input />
      </div>
      <div
        class="flex size-10 cursor-pointer items-center justify-center rounded-lg p-1.5 hover:bg-accent max-[400px]:hidden"
      >
        <ng-icon name="heroBell" size="24"></ng-icon>
      </div>
      <div
        class="flex size-10 cursor-pointer items-center justify-center rounded-lg p-1.5 hover:bg-accent max-[400px]:hidden"
      >
        <ng-icon name="heroMoon" size="24"></ng-icon>
      </div>
      <app-user-button></app-user-button>
    </div>
  </div>
</header>
