<section class="flex w-full gap-5">
  <article class="w-1/4 rounded-lg bg-white p-5 shadow-lg">
    <ng-container *ngIf="showingInfo; else loadingCard">
      <app-movie-schedule-vertical-card
        [title]="showingInfo.movie.title"
        [poster]="showingInfo.movie.posterPath"
        [startTime]="showingInfo.startTime"
        [runTime]="showingInfo.movie.runtime"
        [firstGenre]="showingInfo.movie.genres.length === 0 ? 'unknown' : showingInfo.movie.genres[0].name"
        [overview]="showingInfo.movie.overview"
        [type]="showingInfo.type"
      />
    </ng-container>
    <ng-template #loadingCard>
      <app-movie-schedule-vertical-card [loading]="true"></app-movie-schedule-vertical-card>
    </ng-template>
  </article>
  <article class="flex-1 rounded-lg bg-white p-5 shadow-lg">
    <div class="mb-5">
      <p class="text-xl font-semibold">Edit showing information</p>
      <form class="flex gap-x-5" [formGroup]="editShowingInfoForm" (ngSubmit)="handleSubmit()">
        <div class="w-full">
          <label
            class="mb-2 flex items-center gap-x-3 text-sm font-medium text-gray-900 dark:text-white"
            for="showing-date"
          >
            <span>Choose date</span>
            <div class="cursor-pointer p-1 hover:bg-accent">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5 rounded-full"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"
                />
              </svg>
            </div>
          </label>
          <div class="relative mt-2">
            <input
              id="showing-date"
              type="date"
              [disabled]="true"
              formControlName="date"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary dark:focus:ring-primary"
              placeholder="Select date"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="">
      <label for="countries" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
        List auditorium
      </label>
      <div class="flex flex-wrap gap-2" *ngIf="halls.length !== 0; else loadingHalls">
        <ng-container *ngFor="let hall of halls; index as i">
          <app-auditorium-badge
            [hall]="hall.name"
            subInfo="Seat: 156"
            [colorIndex]="i"
            [randomColor]="false"
            [active]="activeHall ? (activeHall.id === hall.id ? true : false) : false"
            (click)="handleChooseHall(hall)"
          />
        </ng-container>
      </div>
      <ng-template #loadingHalls>
        <div class="flex flex-wrap gap-2">
          <app-auditorium-badge [loading]="true"></app-auditorium-badge>
          <app-auditorium-badge [loading]="true"></app-auditorium-badge>
          <app-auditorium-badge [loading]="true"></app-auditorium-badge>
          <app-auditorium-badge [loading]="true"></app-auditorium-badge>
          <app-auditorium-badge [loading]="true"></app-auditorium-badge>
          <app-auditorium-badge [loading]="true"></app-auditorium-badge>
          <app-auditorium-badge [loading]="true"></app-auditorium-badge>
          <app-auditorium-badge [loading]="true"></app-auditorium-badge>
          <app-auditorium-badge [loading]="true"></app-auditorium-badge>
          <app-auditorium-badge [loading]="true"></app-auditorium-badge>
        </div>
      </ng-template>
    </div>
    <div class="mt-5 flex">
      <app-button (click)="handleSubmit()">Save</app-button>
      <app-button variant="outline" (click)="back()">Back</app-button>
    </div>
  </article>
  <article class="w-2/5 rounded-lg bg-white p-5 shadow-lg">
    <app-edit-showing-drag-drop
      [editHall]="activeHall"
      [editDate]="editShowingInfoForm ? editShowingInfoForm.value.date : ''"
      (onEdit)="handleEdit($event)"
    ></app-edit-showing-drag-drop>
  </article>
</section>
