<div class="relative">
    <div class="flex items-center gap-x-3 rounded-md" (click)="toggleUserMenu()">
        <ng-content select="[labelMenu]"></ng-content>
    </div>
    <!-- Dropdown menu -->
    <div
        *ngIf="isMenuOpen"
        [appOutsideClick]="isMenuOpen"
        (outSideClick)="isMenuOpen = false"
        class="top-18 absolute z-10 w-full divide-y divide-gray-100 rounded-lg bg-white shadow dark:divide-gray-600 dark:bg-gray-700"
    >
        <div (click)="isMenuOpen = false"><ng-content select="[mainItems]"></ng-content></div>

        <div>
            <ng-content select="[separateItems]"></ng-content>
        </div>
    </div>
</div>
