<div class="flex items-center justify-between">
  <app-tabs [tabsData]="tabsData" [activeTab]="activeTab" (onChooseTab)="handleChooseTab($event)"></app-tabs>
  <app-button [loading]="false" href="/movies/adding">
    <svg
      icon
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="inline size-4"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </svg>

    Add movie
  </app-button>
</div>
<div>
  <ng-template #headerTable>
    <span class="text-lg font-semibold text-gray-900 rtl:text-right dark:bg-gray-800 dark:text-white">Movie</span>
    <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">View and manage movies</p>
  </ng-template>
  <ng-template #lastColumn let-movie>
    <app-button variant="link" [href]="'/movie/' + movie.id">Detail</app-button>
  </ng-template>
  <app-table
    [headerTable]="headerTable"
    [columns]="columns"
    [tableData]="moviesData"
    [sortData]="sortData"
    [loading]="loading"
    [lastColumn]="lastColumn"
    (onChooseSort)="handleChangeSort($event)"
    (onSearch)="handleSearchChange($event)"
    (onChoosePage)="handleChangePage($event)"
  ></app-table>
  <ng-template #movieTemplate let-movie>
    <app-movie-horizontal-card
      [title]="movie.title"
      [poster]="movie.posterPath"
      [runtime]="movie.runtime"
      [firstGenre]="handleDisplayGenre(movie.genres)"
    ></app-movie-horizontal-card>
  </ng-template>
  <ng-template #movieTemplateLoading>
    <app-movie-horizontal-card [loading]="true"></app-movie-horizontal-card>
  </ng-template>
</div>
