<table class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400">
  <caption class="bg-white p-5 text-left">
    <ng-container *ngTemplateOutlet="headerTable || defaultHeaderTable"></ng-container>
    <ng-template #defaultHeaderTable>
      <span class="text-lg font-semibold text-gray-900 rtl:text-right dark:bg-gray-800 dark:text-white">Users</span>
      <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">View and manage users</p>
    </ng-template>
    <div class="my-3 w-full">
      <div class="flex items-center gap-x-5">
        <div *ngIf="haveSearch" class="relative w-72">
          <div class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3">
            <svg
              class="h-4 w-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
          </div>
          <input
            type="search"
            id="default-search"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-1.5 ps-10 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
            placeholder="Search"
            autocomplete="off"
            [(ngModel)]="searchValue"
            (input)="onSearchInputChange($event)"
          />
        </div>
        <div>
          <app-dropdown-menu [isMenuOpen]="false">
            <button
              labelMenu
              class="inline-flex items-center rounded-lg bg-primary px-4 py-1.5 text-center text-sm font-medium text-white hover:bg-[#f1893f] focus:outline-none"
              type="button"
              *ngIf="sortData.length !== 0"
            >
              Sort:&nbsp;
              <span class="capitalize">{{ activeSort.label }}</span>
              <app-sort-icon [sortOrder]="activeSort.order" />
            </button>
            <ul mainItems class="py-2 text-sm text-gray-700 dark:text-gray-200">
              <ng-container *ngFor="let item of sortData">
                <app-dropdown-menu-item (click)="handleChangeSort(item)">
                  <div class="flex items-center justify-between">
                    <span>{{ item.label }}</span>
                    <app-sort-icon *ngIf="activeSort.key === item.key" [sortOrder]="activeSort.order" />
                  </div>
                </app-dropdown-menu-item>
              </ng-container>
            </ul>
          </app-dropdown-menu>
        </div>
      </div>
    </div>
  </caption>

  <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
    <tr class="w-full">
      <ng-container *ngFor="let column of columns; index as i">
        <th scope="col" class="cursor-pointer px-6 py-3">
          <div class="flex items-center" (click)="handleChangeSort(sortData[i])">
            {{ column.label }}
            <app-sort-icon *ngIf="activeSort.key === column.key" [sortOrder]="activeSort.order" />
          </div>
        </th>
      </ng-container>
      <th *ngIf="haveLastColumn" scope="col" class="px-6 py-3">
        <span class="sr-only">Action</span>
      </th>
    </tr>
  </thead>
  <tbody *ngIf="!loading && tableData; else loadingBody">
    <tr *ngFor="let row of tableData.data" class="border-b bg-white dark:border-gray-700 dark:bg-gray-800">
      <td *ngFor="let column of columns" scope="row" class="px-6 py-2">
        <ng-container *ngIf="column.template; else defaultCell">
          <ng-container *ngTemplateOutlet="column.template; context: { $implicit: row, row: row }"></ng-container>
        </ng-container>
        <ng-template #defaultCell>{{ row[column.key] }}</ng-template>
      </td>
      <td *ngIf="haveLastColumn" class="px-6 py-2 text-right">
        <ng-container *ngIf="lastColumn; else defaultLastCell">
          <ng-container *ngTemplateOutlet="lastColumn; context: { $implicit: row, row: row }"></ng-container>
        </ng-container>
        <ng-template #defaultLastCell
          ><app-button variant="link" [href]="'/details/' + row.id">Detail</app-button></ng-template
        >
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="!loading && tableData && tableData.data.length === 0">
    <div class="flex flex-col items-center justify-center">
      <ng-icon name="heroXCircle" size="70" class="text-primary"></ng-icon>
      <h3 className="text-3xl font-bold">Whoops!</h3>
      <p class="text-center">It seems like you do not have any favorite movies here.</p>
    </div>
  </tbody>
  <ng-template #loadingBody>
    <tbody>
      <ng-container *ngFor="let i of [].constructor(10); let idx = index">
        <tr class="animate-pulse border-b bg-white dark:border-gray-700 dark:bg-gray-800">
          <td *ngFor="let column of columns" scope="row" class="px-6 py-2">
            <ng-container *ngIf="column.templateLoading; else defaultCell">
              <ng-container *ngTemplateOutlet="column.templateLoading"></ng-container>
            </ng-container>
            <ng-template #defaultCell>
              <div class="mb-4 h-2.5 w-24 rounded-full bg-gray-200 dark:bg-gray-700"></div
            ></ng-template>
          </td>
          <td *ngIf="haveLastColumn" class="px-6 py-4">
            <div class="mb-4 h-2.5 w-28 rounded-full bg-gray-200 dark:bg-gray-700"></div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </ng-template>
</table>
<ng-container *ngIf="tableData !== undefined">
  <app-pagination
    [page]="tableData.page"
    [totalPages]="tableData.totalPages"
    [size]="tableData.size"
    [totalElements]="tableData.totalElements"
    (choosePage)="handleChoosePage($event)"
    (nextPage)="handleChoosePage($event)"
    (prevPage)="handleChoosePage($event)"
  ></app-pagination>
</ng-container>
