<section>
  <ng-template #headerTable>
    <span class="text-lg font-semibold text-gray-900 rtl:text-right dark:bg-gray-800 dark:text-white">Genres</span>
    <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">View and manage genres</p>
  </ng-template>
  <ng-template #lastColumn let-genre>
    <app-button variant="link" (click)="openDialog(genre)">Detail</app-button>
  </ng-template>

  <app-table
    [headerTable]="headerTable"
    [columns]="columns"
    [tableData]="genresData"
    [sortData]="sortData"
    [loading]="loading"
    [lastColumn]="lastColumn"
    (onChooseSort)="handleChangeSort($event)"
    (onSearch)="handleSearchChange($event)"
    (onChoosePage)="handleChangePage($event)"
  />
</section>
