<section class="flex gap-10">
  <div class="hidden sm:block sm:w-16 lg:w-16 xl:w-56">
    <ul>
      <li
        matTooltip="Profile settings"
        class="flex cursor-pointer justify-center gap-x-3 bg-orange-100 p-4 text-gray-400 md:justify-start"
        [ngClass]="{ 'border-e-4 border-primary bg-orange-100 text-primary': activeTab === 'profile' }"
        (click)="toggleTab('profile')"
      >
        <ng-icon name="heroUser" size="24" />
        <div class="hidden lg:hidden xl:block">Profile settings</div>
      </li>
      <li
        matTooltip="Password"
        class="flex cursor-pointer justify-center gap-x-3 bg-orange-100 p-4 text-gray-400 md:justify-start"
        [ngClass]="{ 'border-e-4 border-primary bg-orange-100 text-primary': activeTab === 'password' }"
        (click)="toggleTab('password')"
      >
        <ng-icon name="heroLockClosed" size="24" />
        <div class="hidden lg:hidden xl:block">Password</div>
      </li>
    </ul>
  </div>
  <div class="flex-1">
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-x-5">
        <button
          class="flex size-10 w-fit items-center justify-center rounded-full p-3 hover:bg-accent active:scale-90"
          (click)="location.back()"
        >
          <ng-icon name="heroChevronLeft" size="24" [strokeWidth]="2" />
        </button>
        <div class="text-xl font-medium text-gray-800">
          {{ activeTab === 'profile' ? 'Edit profile' : 'Change password' }}
        </div>
      </div>

      <button
        [matMenuTriggerFor]="menuProfile"
        aria-label="Example icon-button with a menu"
        class="flex size-10 w-fit items-center justify-center rounded-full p-3 hover:bg-accent active:scale-90 sm:hidden"
      >
        <ng-icon name="heroEllipsisVertical" size="24" [strokeWidth]="2" />
      </button>
      <mat-menu #menuProfile="matMenu" class="menu-profile">
        <div
          class="flex w-full cursor-pointer items-center justify-between px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
          [ngClass]="{ 'text-primary': activeTab === 'profile' }"
          (click)="toggleTab('profile')"
        >
          Profile settings
        </div>
        <div
          class="w-full cursor-pointer px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
          [ngClass]="{ 'text-primary': activeTab === 'password' }"
          (click)="toggleTab('password')"
        >
          Password
        </div>
      </mat-menu>
    </div>
    <div *ngIf="activeTab === 'profile'; else passwordTab">
      <app-profile></app-profile>
    </div>
    <ng-template #passwordTab>
      <app-change-pass />
    </ng-template>
  </div>
</section>
