<main>
  <mat-sidenav-container class="mat-sidenav-container">
    <mat-sidenav
      class="sidebar-wrapper"
      #snav
      [opened]="!mobileQuery.matches"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
    >
      <app-sidebar (close)="closeSidebar()"></app-sidebar>
    </mat-sidenav>
    <div class="overflow-visible p-4">
      <app-header [toggleSidebar]="toggleSidebar.bind(this)"></app-header>
      <div class="w-full p-5 pl-7 max-[850px]:pl-5 max-sm:ml-0">
        <router-outlet></router-outlet>
      </div>
      <!-- <Footer /> -->
    </div>
  </mat-sidenav-container>
</main>
