<div class="flex w-full flex-col">
  <app-header-mobile title="Reset password" />
  <form
    class="mx-auto w-96 space-y-6 max-sm:w-full max-sm:px-10"
    [formGroup]="changePasswordForm"
    (ngSubmit)="handleSubmit()"
  >
    <div>
      <h5 class="mb-5 text-xl font-medium">Update your password!</h5>
    </div>

    <div>
      <div class="mb-2">
        <label for="newPassword">New password</label>

        <input
          id="newPassword"
          [type]="showPassword ? 'text' : 'password'"
          formControlName="newPassword"
          placeholder="******"
          class="mt-2 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary dark:focus:ring-primary"
        />
      </div>

      <div
        *ngIf="
          changePasswordForm.controls['newPassword'].invalid &&
          (changePasswordForm.controls['newPassword'].dirty || changePasswordForm.controls['newPassword'].touched)
        "
        class="mt-2 w-full text-left"
      >
        <div
          class="text-sm italic text-red-500"
          *ngIf="changePasswordForm.controls['newPassword'].hasError('required')"
        >
          This filed is required.
        </div>
        <div class="text-sm italic text-red-500" *ngIf="changePasswordForm.controls['newPassword'].hasError('pattern')">
          Password must contain at least one uppercase letter, one lowercase letter, and one digit.
        </div>
      </div>

      <p class="text-sm text-gray-500">Please enter your new password.</p>
    </div>

    <div>
      <div class="mb-2">
        <label for="confirmPassword">Confirm password</label>

        <input
          id="confirmPassword"
          [type]="showPassword ? 'text' : 'password'"
          formControlName="confirmPassword"
          placeholder="******"
          class="mt-2 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary dark:focus:ring-primary"
        />

        <div
          *ngIf="
            changePasswordForm.controls['confirmPassword'].invalid &&
            (changePasswordForm.controls['confirmPassword'].dirty ||
              changePasswordForm.controls['confirmPassword'].touched)
          "
          class="mt-2 w-full text-left"
        >
          <div
            class="text-sm italic text-red-500"
            *ngIf="changePasswordForm.controls['confirmPassword'].hasError('required')"
          >
            This filed is required.
          </div>
          <div
            class="text-sm italic text-red-500"
            *ngIf="changePasswordForm.controls['confirmPassword'].hasError('pattern')"
          >
            Password must contain at least one uppercase letter, one lowercase letter, and one digit.
          </div>
          <div
            class="text-sm italic text-red-500"
            *ngIf="changePasswordForm.controls['confirmPassword'].hasError('passwordMismatch')"
          >
            Confirm password does not match.
          </div>
        </div>
        <p
          class="mt-2 flex w-fit cursor-pointer items-center gap-x-2 text-sm text-gray-500"
          (click)="handleToggleShowPassword()"
        >
          <span>Show password</span>
          <ng-icon *ngIf="showPassword" name="heroEye"></ng-icon>
          <ng-icon *ngIf="!showPassword" name="heroEyeSlash"></ng-icon>
        </p>
      </div>
    </div>

    <div class="w-ful mt-3">
      <app-button type="submit" class="w-full"> Change password </app-button>
    </div>
  </form>
</div>
