<section class="flex gap-3">
  <article class="flex-1">
    <div
      class="mb-5 flex w-full items-end gap-x-3 rounded-lg bg-[#FBAB7E] bg-[linear-gradient(62deg,#FBAB7E_0%,#F7CE68_100%)] p-5"
    >
      <div
        class="flex items-center justify-center rounded-lg bg-[#FBAB7E] bg-[linear-gradient(62deg,#FBAB7E_0%,#F7CE68_100%)] p-3"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-12 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 2.994v2.25m10.5-2.25v2.25m-14.252 13.5V7.491a2.25 2.25 0 0 1 2.25-2.25h13.5a2.25 2.25 0 0 1 2.25 2.25v11.251m-18 0a2.25 2.25 0 0 0 2.25 2.25h13.5a2.25 2.25 0 0 0 2.25-2.25m-18 0v-7.5a2.25 2.25 0 0 1 2.25-2.25h13.5a2.25 2.25 0 0 1 2.25 2.25v7.5m-6.75-6h2.25m-9 2.25h4.5m.002-2.25h.005v.006H12v-.006Zm-.001 4.5h.006v.006h-.006v-.005Zm-2.25.001h.005v.006H9.75v-.006Zm-2.25 0h.005v.005h-.006v-.005Zm6.75-2.247h.005v.005h-.005v-.005Zm0 2.247h.006v.006h-.006v-.006Zm2.25-2.248h.006V15H16.5v-.005Z"
          />
        </svg>
      </div>
      <div class="text-3xl font-semibold">Schedule</div>
    </div>
    <div>
      <h4>Filter</h4>
      <app-schedule-search (onSearch)="handleSearchKeywordChange($event)" />
    </div>
  </article>
  <article class="w-4/5">
    <app-date-picker class="rounded-lg bg-white" (onChooseDate)="handleChangeDate($event)"></app-date-picker>
    <div class="rounded-lg bg-white p-5">
      <div class="flex items-center justify-between">
        <div class="mb-5 text-2xl font-bold">List showings</div>
        <div class="flex items-center gap-x-1">
          <app-button matTooltip="Do schedule" matTooltipPosition="above" href="/schedule/manage/do-schedule"
            >Do schedule</app-button
          >
          <app-button
            matTooltip="Add new showing"
            matTooltipPosition="above"
            variant="outline"
            href="/showing/manage/create"
          >
            <ng-icon name="heroPlus" size="16"></ng-icon>
          </app-button>
        </div>
      </div>
      <div *ngIf="!loading && showingData.data.length === 0" class="flex flex-col items-center justify-center">
        <ng-icon name="heroXCircle" size="70" class="text-primary"></ng-icon>
        <h3 className="text-3xl font-bold">Whoops!</h3>
        <p class="text-center">It seems like you do not have any showings here.</p>
      </div>
      <div *ngIf="!loading && showingData.data.length !== 0" class="grid grid-cols-5 gap-2">
        <ng-container *ngFor="let showing of showingData.data">
          <app-movie-vertical-card
            [showingId]="showing.id"
            [title]="showing.movie.title"
            [overview]="showing.movie.overview"
            [startTime]="showing.startTime"
            [poster]="showing.movie.posterPath"
            [menu]="getMenu(showing)"
          />
        </ng-container>
      </div>
      <ng-container *ngIf="loading">
        <div class="grid grid-cols-5 gap-2">
          <app-movie-vertical-card [loading]="true" />
          <app-movie-vertical-card [loading]="true" />
          <app-movie-vertical-card [loading]="true" />
          <app-movie-vertical-card [loading]="true" />
          <app-movie-vertical-card [loading]="true" />
          <app-movie-vertical-card [loading]="true" />
          <app-movie-vertical-card [loading]="true" />
          <app-movie-vertical-card [loading]="true" />
          <app-movie-vertical-card [loading]="true" />
          <app-movie-vertical-card [loading]="true" />
        </div>
      </ng-container>
      <div *ngIf="loading; else paginationState">
        <app-pagination [loading]="loading" />
      </div>
      <ng-template #paginationState>
        <div>
          <app-pagination
            [page]="showingData.page"
            [size]="showingData.size"
            [totalPages]="showingData.totalPages"
            [totalElements]="showingData.totalElements"
            (choosePage)="handleChangePage($event)"
            (nextPage)="handleChangePage($event)"
            (prevPage)="handleChangePage($event)"
          />
        </div>
      </ng-template>
    </div>
  </article>
</section>
